<div class="custom-annoucement-bar">
    {% if template.name == 'index' or section.settings.show-on-homepage == false %}
    <a href="{{section.settings.link}}" class="custom-annoucement-bar-link">
        <p class="custom-annoucement-bar-message">{{section.settings.announcement-bar-text}}</p>
    </a>
    {% endif %}
</div>

<style>
    .custom-annoucement-bar .custom-annoucement-bar-message {

        {% if section.settings.bold-text %}
            font-weight:bold;
        {% endif %}

        font-size: {{ section.settings.font-size }}px;
        padding: {{ section.settings.height }}px;
        background-color: {{ section.settings.background-color }};
        color: {{ section.settings.text-color }};
        text-transform: {{ section.settings.text-transform }};
    }
</style>


{%schema%}
    {
        "name": "Custom annoucement bar",
        "max_blocks": 4,
        "blocks": [
        {
           "type": "announcement",
           "name": "Announcement",

            "settings": [
            {
                "type": "checkbox",
                "id": "show-on-homepage",
                "label": "Show only on homepage",
                "default": false
            },
            {
                "type": "text",
                "id": "announcement-bar-text",
                "default": "This is your announcement",
                "label": "Annoucement text"
            },
            {
                "type": "range",
                "id": "font-size",
                "default": 14,
                "label": "Font size",
                "min": 12,
                "max": 25,
                "step": 1,
                "unit": "px"
            },
            {
                "type": "checkbox",
                "id": "bold-text",
                "label": "Bold Text",
                "default": false
            },
            {
                "type": "range",
                "id": "height",
                "default": 5,
                "label": "Height",
                "min": 0,
                "max": 25,
                "step": 1,
                "unit": "px"
            },
            {
                "type": "color",
                "id": "background-color",
                "label": "Background Color",
                "default": "#f1f1f1"
            },
            {
                "type": "color",
                "id": "text-color",
                "label": "Text Color",
                "default": "#000000"
            },
            {
                "type": "url",
                "id": "link",
                "label": "Link"
            },
            {
                "type": "select",
                "id": "text-transform",
                "label": "Text Transform",
                "options": [
                {
                    "value": "normal",
                    "label": "Normal"
                },
                {
                    "value": "lowercase",
                    "label": "Lowercase"
                },
                {
                    "value": "uppercase",
                    "label": "Uppercase"
                },
                {
                    "value": "capitalize",
                    "label": "Capitalize first letters"
                }
                ],
                "default": "normal"
            }
            ]

   
        }
        ]
    }
{%endschema%}


{% stylesheet %}    
{% endstylesheet %}
{{'custom-annoucement-bar.css' | asset_url | stylesheet_tag}}

{% javascript %}
{% endjavascript %}

